@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #7A7A7A;
    font: 400;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
 background-attachment: fixed;

}

/*es el banner*/
nav {
    background-color: #ff0000;
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    height: 100px;    
    
  
}


nav h1,
footer h1 {
    font-family: 'Coiny', cursive;

}

nav h1 {
    margin-right: auto;
}

nav a {
    margin-left: 20px;
   /* color: #7A7A7A;*/
    text-decoration: none;
    color:white;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
 
}

.encolumnar{
    display:flex;
    justify-content:center;
 
}

.encolumnar a{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-centrado{
    display:flex;
    justify-content: center;
    align-items: center;

}
.footer-centrado img{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    width: 40px;

}



.footer-centrado a{ 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}
.div-footer{
    height: 80px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-footer{
    display: flex;
    flex-direction: row;
}

.link-footer a{
text-decoration: none;
color: white;

}
nav a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
   
}




ul {
    list-style:none;
    margin: 0;
    padding: 0;

}

nav a {
    text-transform: capitalize;
}

header h1 {
    font-weight: 700;
    font-size: 41px;
}

.grande {
    font-size: 100px;
    font-family: 'Coiny', cursive;
}

h1,h2,h3,h4, .item { color:  #ff0000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  


}

h1{
    animation: desvanecer 4s infinite;
}

@keyframes desvanecer {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

h2,
h3 {
    font-size: 20px;
    background-color: white;
    display:inline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

h3 {
    font-size: 26px;
}

h2 {
    font-weight: none;
}

.item {
    font-size: 24px;
    font-weight: bold;
    background-color: white;

}
/* aca manejo la imagen de las redes sociales*/
aside img {
    height: auto;
    width: 20%;
    margin-top: 20%;
    margin-right: 1%;
}



#titulo {
    font-size: 40px;
}


header.encolumnar,
aside.encolumnar {
    border-bottom: none;
    
}


header img {
    width: 70%;
    margin-left: 30%;
}

footer,
main,
header,
aside {
    width: 100%;
}

footer {
    height: 100px;
    padding: 10px;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}

#imagen {
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 10px;
  }

.button{  
    
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #ff4444;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;

    background-image: url("img/flechita.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .button:hover {
    transform: scale(1.1);
  
}

span {
    color: red;
}

label {
    display: block;
    margin-bottom: 5px;
}




form {
    margin: auto;
    background-color: #8bf;
   
}
input{  
    margin: 15px;
    padding: 10px;
    width: auto;
    font-size: 18px;
    min-width: 100px;   

    min-height: 100px;
     max-height:200px;
  
}
textarea{
    font-size: 18px;
    margin: 15px;
    padding: 10px;
    width: auto;
    min-width: 550px;   
    max-width: 300px;
    min-height: 100px;
    max-height:200px;
}

.encolumnar {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 20px;
    margin-bottom: 30px;
    border-bottom: 0.5px solid gray;*/
}

.encolumnar-form {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.encolumnar-form input[name="nombre"], /* de esta manera trabajo solamente los botones nombre y mail juntos*/
.encolumnar-form input[name="email"] {
    margin: 15px;
    padding: 10px;
    width: auto;
    font-size: 18px;
    min-width: 550px;
    min-height: 100px;
    max-height: 200px;
}

.boton {
    padding: 0;
    border-bottom: none;
  }
  
  .boton input[type="submit"] { /* de esta manera trabajo solamente el boton de enviar consulta*/
    
    background-color: rgb(54, 54, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .boton input[type="reset"] {/* de esta manera trabajo solamenteel boton de borrar*/
   
    background-color: rgb(54, 54, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

ol li {
    margin-bottom: 6%;
}


h4 {
    margin: 0;
    font-size: 51px;
    color: #ff0000;
    background-color: white;
    line-height: 100px;
    padding: 10px;
    display: inline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

footer h1 {
    font-size: 33px;
}

section, .section-form{
    width: 45%;
    

}


main {
    font-size: 21px;
}

/* de aca para abajo se modifica el celular */
@media screen and (max-width: 875px){
    .encolumnar-form{
        display:flex;
        flex-direction: column;
       
    }

.section-form{
    width: 80%;
}

textarea, input{
    width: 95%;
    min-width: 50px;
}
.encolumnar-form input[name="nombre"], /* de esta manera trabajo solamente los botones nombre y mail juntos*/
.encolumnar-form input[name="email"] {
    min-width: 300px;
}

footer{
    height: 100px;
    padding: 10px;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    overflow-x:scroll;

}

}